* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.circle {
    width: 40vh;
    height: 40vh;
    border: 10px solid orangered;
    position: relative;
    border-radius: 50%;
}
.hour {
    width: 1%;
    height: 10vh;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top : 50% ;
    left: 50%;
}
.second {
    width: 1%;
    height: 15vh;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top : 50% ;
    left: 50%;
    animation: xoay 60s infinite linear;
    transform-origin: top center;
}
.center {
    width: 5%;
    height: 5%;
    background-color: brown;
    position: absolute;
    border-radius: 50%;
    top: 48%;
    left: 48%;
    animation: xoay 7200s infinite linear;
    transform-origin: top center;
}
.top {
    position: absolute;
    top: 0;
    left: 45%;
    font-size: 40px;
}
.right {
    position: absolute;
    top: 45%;
    right:0 ;
    font-size: 40px;
}
.bottom {
    position: absolute;
    bottom: 0;
    left: 45%;
    font-size: 40px;
}
.left {
    position: absolute;
    top: 45%;
    left: 0;
    font-size: 40px;
}
@keyframes xoay {
    to {
        transform: rotate(360deg);
    }
}