* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: rgb(46, 45, 45);
}
.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    box-shadow: 2px 9px 0px 0px rgba(0,0,0,0.66);
    -webkit-box-shadow: 2px 9px 0px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: 2px 9px 0px 0px rgba(0,0,0,0.66);
   
}
.main-nav .col-left {
    display: flex;
}
.main-nav .col-left .logo i {
    font-size: 40px;
    color: #3a3b6b;
    margin-right: 60px;
}
.main-nav .col-left .search-form {
    position: relative;
    display: flex;
}
.main-nav .col-left .search-form input{
    width: 400px;
    height: 35px;
    padding: 7px 10px;  
    justify-content: center;
    align-items: center;
    background-color: #f6f8fa;
    border: 1px solid rgb(204, 199, 199);
    border-radius: 10px;
}
.main-nav .col-left .search-form i {
    position: absolute;
    top: 11px;
    right: 10px;

}

.main-nav .col-right {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}
.main-nav .col-right li {
    
}
.main-nav .col-right li a {
    text-decoration: none;
}
.main-nav .col-right .item-first {
    display: flex;
}
.main-nav .col-right .profile-item {
    padding: 0 10px;
}
.main-nav .col-right .profile-item:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-nav .col-right .profile-item:first-child img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.main-nav .col-right .profile-item a {
    border-right: 1px solid black;
    display: flex;
}
.main-nav .col-right .profile-item:nth-child(2) {
    border-right: none;
}